@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    #root {
        height: var(--tg-viewport-height);
        overflow: hidden;
    }
}

@keyframes user-role-change {
    0% {
        color: lightblue;
    }
    100% {
        color: lightcoral;
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem;
        align-self: flex-end;
    }
}

.animate-user-role-change {
    animation: user-role-change 1s linear;
}
